Repository elkinny/Curriculum-Vitae: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint, prettier-stylelint --write ./src/scss/**/*.scss, ./node_modules/.bin/prettier, prettier --write '**/*.js'

CV: gitignore fix
  .gitignore
Due: none

Update README.MD
  README.MD
Due: none

CV: add prettier, linters, fixing errors
  .eslintignore
  .eslintrc
  .lintstagedrc
  .prettierrc
  .stylelintrc
  gulpfile.js
  package(gulp).json
  package(webpack).json
  package.json
  src/index.html
  src/js/index.js
  src/scss/base/_fonts.scss
  src/scss/base/_reset.scss
  src/scss/components/_modal.scss
  src/scss/layout/_infoBlock.scss
  src/scss/layout/_socialBlock.scss
  src/scss/main.scss
Due: ./node_modules/.bin/eslint, ./node_modules/.bin/stylelint, prettier-stylelint --write ./src/scss/**/*.scss, ./node_modules/.bin/prettier, prettier --write '**/*.js'

test
  gulpfile.js
  package.json
Due: ./node_modules/.bin/prettier, prettier --write '**/*.js'

test
  build/img/ITP-logo2.png
  build/img/blah0.jpg
  build/img/blah1.jpg
  build/img/blah2.jpg
  build/img/blah3.jpg
  build/img/header_bg.jpg
  build/img/img3.jpg
Due: none

test2
  build/img/ITP-logo2.png
  build/img/blah0.jpg
  build/img/blah1.jpg
  build/img/blah2.jpg
  build/img/blah3.jpg
  build/img/header_bg.jpg
  build/img/img3.jpg
Due: none

CV: fix the bug with images in build
  webpack.config.js
Due: ./node_modules/.bin/prettier, prettier --write '**/*.js'

test3
  build/img/ITP-logo.png
  build/img/ITP-logo2.png
  build/img/blah0.jpg
  build/img/blah1.jpg
  build/img/blah2.jpg
  build/img/blah3.jpg
  build/img/header_bg.jpg
  build/img/img3.jpg
Due: none

Add files via upload
  ekins_logo.png
Due: none

Delete ekins_logo.png
  ekins_logo.png
Due: none

Path conditions:
  ./node_modules/.bin/eslint: any of: ./src/js/*.js
  ./node_modules/.bin/stylelint: any of: ./src/scss/**/*.scss
  prettier-stylelint --write ./src/scss/**/*.scss: any of: ./src/scss/**/*.scss
  ./node_modules/.bin/prettier: any of: **/*.js
  prettier --write '**/*.js': any of: **/*.js
